{% for custom_colors in shop.metaobjects %}
<div class="image-container">
  <div>
    <img src="{{ custom_colors.variants.photo | img_url }}" alt="custom_colors.variants.title">
  </div>
</div>
{% endfor %}

{% schema %}
  {
    "name": "Custom-Colors",
    "settings": [],
    "presets": [{
      "name": "Custom-Colors"
    }]
  }
{% endschema %}